$card-background-color: #FAFAFA;
$pets-section-bg-color: #F6F6F6;
$logo-color: #F1CDB3;
$link-color: #545454;
$title-color: #545454;

//buttons color scheme
$btn-border-color: #F1CDB3;
$btn-hover-color: #FDDCC4;
$disabled: #CDCDCD;

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

.font-link,
.font-text {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 15px; 
    line-height: 160%;
    color: $link-color;
}

.font-title {
    font-family: "Georgia"; 
    font-weight: 400;
    font-size: 35px; 
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $title-color;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-title {
    font-family: "Georgia"; 
    font-weight: 400;
    font-size: 32px; 
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 10px;

    a {
        color: $title-color;
    }
}
.logo-subtitle {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 13px; 
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.main-nav {
    display: flex;
    margin-top: 15px;
}
.nav-link {
    margin-left: 35px;
    padding: 5px 0;

    &:hover {
        color: #292929;
    }
}
.active {
    border-bottom: 3px solid #F1CDB3;
}

.pets {
    background-color: $pets-section-bg-color;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets-header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    
}

.pets-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 30px;
    margin-top: 60px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 43px;
    border-radius: 100px;

    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #292929;

    &:hover {
        cursor: pointer;
        background-color: $btn-hover-color;
    }
}


.pets-slider {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    column-gap: 90px;
    justify-content: center;
}
.pet-name {
    font-size: 20px;
    line-height: 23px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 435px;
    background-color: $card-background-color;
    border-radius: 9px;

    &:hover {
        cursor: pointer;
            .btn {
                background-color: $btn-hover-color;
            }

    }

    .btn {
        width: 187px;
        height: 52px;
        border: 2px solid $btn-border-color;
        background-color: #FFFFFF;
        margin-bottom: 30px;
    }
}
.btns-panel {
    display: flex;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 0.06em;

    .current {
        background-color: $btn-hover-color;
    }

    .disabled {
        border: 2px solid $disabled;
        color: $disabled;

        &:hover {
            background-color: $pets-section-bg-color;
            color: $disabled;
        }
    }
}
.slide-btn {
    width: 52px;
    height: 52px;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: $pets-section-bg-color;

    &:hover {
        background-color: $btn-hover-color;
        cursor: pointer;
    }
}


footer {
    background: URL("../../assets/images/noise_transparent.png"), 
    linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
    padding-top: 40px;

    .font-title {
        color: #FFFFFF;
    }
}
.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 302px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.contact-item {
    display: flex;
    gap: 20px;
    align-items: center;


    .address {
        font-size: 20px;
        line-height: 115%;
        color: #F1CDB3;
    }
}
.footer-image {
    justify-self: end;
}