$card-background-color: #FAFAFA;
$pets-section-bg-color: #F6F6F6;
$donation-section-color: #F6F6F6;
$logo-color: #F1CDB3;
$title-color: #545454;

//buttons color scheme
$colored-btn-color: #F1CDB3;
$btn-border-color: #F1CDB3;
$btn-hover-color: #FDDCC4;

@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

.font-link,
.font-text {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 15px; 
    line-height: 160%;
}

.font-title {
    font-family: "Georgia"; 
    font-weight: 400;
    font-size: 35px; 
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $title-color;
}

.font-remark {
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-title {
    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 32px; 
    line-height: 35px;
    color: $logo-color;
    letter-spacing: 0.06em;
    padding-bottom: 10px;
}
.logo-subtitle {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 13px; 
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main-nav {
    display: flex;
    margin-top: 15px;
}
.nav-link {
    color: #CDCDCD;
    margin-left: 35px;
    padding: 5px 0;
}
.active {
    border-bottom: 3px solid #F1CDB3;
}


.wrapper {
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 43px;
    border-radius: 100px;

    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #292929;

    &:hover {
        cursor: pointer;
        background-color: $btn-hover-color;
    }
}


.start-screen-wrapper {
    background: URL("../../assets/images/noise_transparent.png"), 
    linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
}
.start-screen {
    display: flex;
}
.start-screen-content {
    max-width: 460px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: #CDCDCD;
        margin: 42px 0;
    }
}
.start-screen-image {
    margin-top: 60px;
    align-content: flex-end;
}
.start-screen-title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px; 
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
}
.make-friend-btn {
    width: 207px;
    height: 52px;
    background-color: $colored-btn-color;
    border: none;
    margin-bottom: 25px;
}


.about {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 100px;
}
.about-content {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin-top: 25px;
    }
}


.pets{
    background-color: $pets-section-bg-color;
    padding: 80px 0 100px;

    h2 {
        max-width: 400px;
        text-align: center;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}
.pets-slider {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    column-gap: 90px;
    justify-content: center;
}
.pets-title {
    font-size: 20px;
    line-height: 23px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 435px;
    background-color: $card-background-color;
    border-radius: 9px;

    &:hover {
        cursor: pointer;
            .btn {
                background-color: $btn-hover-color;
            }

    }

    .btn {
        width: 187px;
        height: 52px;
        border: 2px solid $btn-border-color;
        background-color: #FFFFFF;
        margin-bottom: 30px;
    }
}
.open-all-btn {
    width: 261px;
    height: 52px;
    background-color: $colored-btn-color;
    border: none;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arrow-btn {
    width: 52px;
    height: 52px;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    position: absolute;
    top: 43%;

    &:hover {
        background-color: $btn-hover-color;
        cursor: pointer;
    }
}
.slider-wrapper {
    position: relative;
}
.back {
    left: 0%;
}
.forward {
    right: 0%; 
}
.help {
    padding-top: 80px;
    padding-bottom: 100px;

    h2 {
        max-width: 310px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
}
.needed-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    row-gap: 55px;
}
.item {
    text-align: center;
    font-size: 20px;
    line-height: 115%;
    color: $title-color;
    
    p {
        margin-top: 30px;
    }
}


.donation {
    background-color: $donation-section-color;
    padding-top: 80px;
    padding-bottom: 100px;
}
.donation-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.donation-content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bank-account {
    font-size: 15px;
    line-height: 110%;
}
.card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    line-height: 115%;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    width: max-content;
}

footer {
    background: URL("../../assets/images/noise_transparent.png"), 
    linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
    padding-top: 40px;

    .font-title {
        color: #FFFFFF;
    }
}
.footer-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 302px;
    margin-top: 15px;
    margin-bottom: 60px;
}
.contact-item {
    display: flex;
    gap: 20px;
    align-items: center;


    .address {
        font-size: 20px;
        line-height: 115%;
        color: #F1CDB3;
    }
}
.footer-image {
    justify-self: end;
}