$card-background-color: #FAFAFA;
$card-hover-bg-color: #FFFFFF;
$pets-section-bg-color: #F6F6F6;
$donation-section-color: #F6F6F6;
$logo-color: #F1CDB3;
$title-color: #545454;

//buttons color scheme
$colored-btn-color: #F1CDB3;
$btn-border-color: #F1CDB3;
$btn-hover-color: #FDDCC4;

$header-font-mobile: 25px;

// fonts
@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf");
}

.font-link,
.font-text {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 15px; 
    line-height: 160%;
}

.font-title {
    font-family: "Georgia"; 
    font-weight: 400;
    font-size: 35px; 
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $title-color;
}

.font-remark {
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

//default
body {
    margin: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

//common wrappers
.wrapper {
    max-width: 1260px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 30px;
}

// common button styles
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 43px;
    border-radius: 100px;

    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #292929;

    &:hover {
        cursor: pointer;
        background-color: $btn-hover-color;
    }
}

//HEADER

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-title {
    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 32px; 
    line-height: 35px;
    margin-bottom: 10px;

    a {
        color: $logo-color;
        letter-spacing: 0.06em;
        padding-bottom: 10px;
    }
}
.logo-subtitle {
    font-family: "Arial", sans-serif; 
    font-weight: 400;
    font-size: 13px; 
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.main-nav {
    display: flex;
    margin-top: 15px;
}
.nav-link {
    color: #CDCDCD;
    margin-left: 35px;
    padding: 5px 0;

    &:hover {
        color: #FAFAFA;
    }
}
.link_active {
    border-bottom: 3px solid #F1CDB3;
}

// SECTION START-SCREEN

.start-screen-wrapper {
    background: URL("../../assets/images/noise_transparent.png"), 
    linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
    max-height: 908px;
    overflow: hidden;
}
.start-screen {
    display: flex;
    justify-content: space-between;
}
.start-screen__content {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        color: #CDCDCD;
        margin: 42px 0;
    }
}
.start-screen__image {
    margin-top: 60px;
 
}
.start-screen-title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 44px; 
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
}
.make-friend-btn {
    width: 207px;
    height: 52px;
    background-color: $colored-btn-color;
    border: none;
    margin-bottom: 25px;
}
.btn-link {
    font-family: "Georgia", serif; 
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #292929;
}

// SECTION ABOUT

.about {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 80px 0 95px;
}
.about-content {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    p {
        color: #4C4C4C;
    }
}

// SECTION OUR PETS

.pets{
    background-color: $pets-section-bg-color;
    padding: 80px 0 100px;

    h3 {
        max-width: 400px;
        text-align: center;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}
.pets-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-container {
    overflow: hidden;
}
.slider-track {
    display: flex;
    gap: 90px;
    transition: 0.2s;
}
.card {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 435px;
    background-color: $card-background-color;
    border-radius: 9px;

    &:hover {
        cursor: pointer;
        background-color: $card-hover-bg-color;

            .btn {
                background-color: $btn-hover-color;
            }

    }

    .btn {
        width: 187px;
        height: 52px;
        border: 2px solid $btn-border-color;
        background-color: #FFFFFF;
        margin-bottom: 30px;
    }
}
.pets-title {
    font-size: 20px;
    line-height: 23px;
}
.open-all-btn {
    width: 261px;
    height: 52px;
    background-color: $colored-btn-color;
    border: none;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.arrow-btn {
    min-width: 52px;
    min-height: 52px;
    color: #292929;
    border: 2px solid #F1CDB3;
    background-color: $pets-section-bg-color;
    box-sizing: border-box;
    border-radius: 100px;

    &:hover {
        background-color: $btn-hover-color;
        cursor: pointer;
    }
}


// SECTION HELP

.help {
    padding: 80px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        max-width: 310px;
        text-align: center;
        margin-bottom: 60px;
    }
}
.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 55px;
    column-gap: 120px;
    margin: 0 110px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
        margin-top: 30px;
        font-size: 20px;
        line-height: 115%;
        color: $title-color;
        letter-spacing: 0.06em;
    }
}

// SECTION DONATION

.donation {
    background-color: $donation-section-color;
    padding-top: 80px;
    padding-bottom: 100px;
}
.donation-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.donation-content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bank-account {
    font-size: 15px;
    line-height: 110%;
}
.card-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #F1CDB3;
    border-radius: 9px;
    padding: 10px 15px;
    width: max-content;

    a {
        font-size: 20px;
        line-height: 115%;
    }
}

// FOOTER

.footer {
    background: URL("../../assets/images/noise_transparent.png"), 
    linear-gradient(to right, #49372a 0%, #1A1A1C 50%, #211F20 100%);
    height: 350px;

    .font-title {
        color: #FFFFFF;
    }
}
.footer-container {
    display: grid;
    grid-template-columns: 278px 302px 300px;
    justify-content: center;
    gap: 160px;
}
.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 56px 0 60px;
}
.footer-column:nth-child(2){
    width: 302px;
}
.contact-item {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    line-height: 115%;
    color: #F1CDB3;
}
.footer-image {
    padding-top: 40px;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    .header {
        padding: 30px 30px 0;
    }
    .start-screen-wrapper {
        max-height: 1165px;
    }
    .start-screen {
       flex-direction: column;
       align-items: center;
       margin-top: 60px;
    }
    .start-screen__image {
        align-self: flex-end;
        margin-top: 100px;

        img {
            width: 569px;
        }
    }
    .make-friend-btn{
        margin: 0 auto;
    } 
    .about{
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
    .pets-slider {
        gap: 12px;
    }
    .slider-container {
        min-width: 580px;
        max-width: 580px;
    }
    .slider-track {
        gap: 40px;
    }

    .help-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;

        .item {
            width: 170px;
        }
    }

    .donation {
        padding-bottom: 95px;
    }

    .donation-inner {
       flex-direction: column-reverse;
       gap: 60px;
    }

    .footer {
        height: 610px;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 278px 302px;
        grid-template-rows: 234px 310px;
        column-gap: 60px;
        row-gap: 65px;
    }
    .footer-image {
        grid-column: span 2;
        justify-self: center;
        padding: 0;
    }
    .footer-column {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .wrapper {
        padding: 0 10px;
    }
    .main-nav {
        display: none;
    }
    .header { 
        padding-top: 30px;  
    }
    .start-screen-wrapper {
        max-height: 823px;
    }
    .start-screen {
        flex-direction: column;
        align-items: center;
    }
    .start-screen__content {
        margin-top: 60px;
        align-items: center;
        text-align: center;
    }
    .start-screen-title {
        font-size: $header-font-mobile;
        letter-spacing: 0.06em;
    }
    .start-screen__image {
        align-self: flex-end;
        margin-top: 80px;
        
        img {
            max-width: 260px;
            vertical-align: bottom;
        }
    }
    .about {
        flex-direction: column-reverse;
        align-items: center;
        gap: 42px;
        padding: 42px 25px;
    }
    .about-content {
        text-align: justify;
        row-gap: 22px;

        .about__header {
            text-align: center;
            font-size: $header-font-mobile;
            margin-bottom: 3px;
        }
    }
    .about-image img {
        width: 260px;
        height: auto;
        vertical-align: bottom;
    }
    .pets {
        padding: 42px 0;
        h3 {
            font-size: $header-font-mobile; 
            margin-bottom: 42px;  
        }
    }
    .pets-slider {
        position: relative;
    }
    .slider-container {
        min-width: 270px;
        max-width: 270px;
    }
    .arrow-back {
        position: absolute;
        bottom: -72px;
        left: calc(50% - 90px);
    }
    .arrow-forward {
        position: absolute;
        bottom: -72px;
        right: calc(50% - 90px);
    }
    .open-all-btn {
        margin-top: 114px;
    }
}
